*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #f1f2f4;
}
body a {
    color: #37a000;
}
header h1 {
    text-transform: uppercase;
    font-size: 27px;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1d4354 !important;
    color: white;
}
.container-fluid {
    width: 15%;
    margin: 0 0 0 30px;
}
.headerB {
    width: 80%;
}
.navbar-brand img{
    height: 90px;
}
.col {
    padding: 0;
}
.ifrCol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    height: 380px;
}
iframe {
    width: 100%;
    height: 100%;
}
.secCol {
    background-color: #f1f2f4 !important;
}
.secCol ul li {
    list-style: none;
    line-height: 2em;
}
.secCol ul li:first-child {
    font-size: 25px;
    font-weight: 400;
}
#specSide {
    background: #fff;
    border-radius: 5px;
}
#specSide input {
    background-color: #37a000;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
    color: #fff;
    transition: .3s;
}
#specSide input:hover {
    background: #328b02;
    color: #f1f2f4;
}
.contentWrapper {
    display: flex;
    flex-direction: row-reverse;
}
.singleCol {
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert h2 {
    font-weight: 500;
}
#announcement {
    margin: 30px;
}
.alert {
    color: #000;
    background: #fff;
}
.accordion-item {
    border: 1px solid #b6d4fe;
    border-radius: 5px;
    margin: 20px 15px;
    background: #fff;
}
.accordion-button:not(.collapsed) {
    color: #212538;
    background-color: #fff;
}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}
#accordionFlushExample {
    margin-bottom: 20px;
}
#faq {
    background-color: #f1f2f4;
}
.accordion-button h5 {
    transition: .3s;
}
.accordion-button h5:hover {
    color: #37a000;
}
#faqHead {
    margin-left: 35px;
}
.iconSi ul li {
    list-style: none;
    border: 1px solid;
    background-color: #ffffff14;
    border-radius: 50%;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: .3s;
}
.iconSi ul li i {
    font-size: 35px;
    margin: 10px;
    transition: .3s;
    color: #fff;
}
.iconSi ul li:hover {
    color: #37a000;
    cursor: pointer;
}
.iconSi ul {
    display: flex;
}
.detLas {
    display: flex;
}
#socialSide {
    padding: 30px 0;
    background: #1d4354;
    color: #fff;
}
.iconSi {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailSi {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.detailSi span a {
    transition: .3s;
    color: #fff;
}
.detailSi span a:hover {
    color: #37a000;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d4354;
    border-top: 1px solid;
    color: #fff;
}
@media (max-width: 993px) {
    #mainMenu.overflow-hidden {
        margin: 0;
    }
    #specSide li {
        margin: 0 10px;
    }
    .contentWrapper {
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
    #specSide {
        padding-left: 0 ;
    }
    .accordion-item h5 {
        text-align: left;
    }
}
@media (max-width: 724px) {
    .navbar {
        flex-direction: column;
    }
    .container-fluid {
        margin: 0;
        width: 125px;
        padding: 0;
    }
    .container-fluid a {
        margin: 0;
    }
    .headerB {
        width: 100%;
    }
    .headerB h1 {
        text-align: justify;
    }
}
@media (max-width: 572px) {
    .headerB h1 {
        text-align: center;
        font-size: 20px;
        padding: 0 7px;
    }
    #socialSide {
        padding: 10px 0;
    }
    .detLas {
        flex-direction: column;
    }
    .iconSi {
        width: 100%;
    }
    .detailSi {
        width: 100%;
    }
}
@media (max-width: 465px) {
    #specSide li {
        margin: 10px 20px;
        list-style-type: unset;
    }
    #specSide li:first-child,#specSide li:last-child {
        list-style: none;
    }
    .accordion-item {
        margin: 20px 5px;
    }
}
@media (max-width: 390px) {
    .ifrCol {
        height: 330px;
    }
}
